<div>
  <div class="center-title">
    目標をつぶやこう
    <i class="el-icon-edit"></i>
  </div>
  <div class="input-container">
    <ul>
      <el-input placeholder="目標を入力" v-model="name"></el-input>
      <el-date-picker v-model="deadline" type="datetime" class="time" placeholder="期日を選択してください"></el-date-picker>
      <el-button class="tweet-button" type="primary" v-on:click="addTodo">つぶやく</el-button>
    </ul>
  </div>
  
  <h1 class="goal-list-title">- みんなの目標一覧 -</h1>
  <table class="goal-list-table">
    <tr>
      <th class="createDate">宣言日</th>
      <th class="limitedDate">期限日</th>
      <th class="goal">目標</th>
      <th class="remaining-time">残り時間</th>
      <th></th>
    </tr>
    <tr v-for="todo in this.todos" :key="todo.id" class="goal-list">
      <td class="createDate-list" v-if="todo.created">{{ todo.created.toDate() | unixTime2Date }}</td>
      <td class="limitedDate-list" v-if="todo.deadline && todo.created">{{ todo.deadline.toDate() | unixTime2Date }}</td>
      <td class="limitedDate-list" v-if="!todo.deadline && todo.created">なし</td>
      <td class="goal-list" v-if="todo.created">{{ todo.name }}</td>
      <td class="remaining-time-list" v-if="todo.deadline  && todo.created">
        <countdown :deadline="deadlineCalc(todo.deadline.toDate())"></countdown>
      </td>
      <td v-if="!todo.deadline && todo.created">
        なし
      </td>
      <td v-if="todo.created && todo.created">
        <i class="el-icon-circle-close" @click="remove(todo.id)"></i>
      </td>
    </tr>
  </table>

  <div class="center-title">
    <router-link to="/">
      <el-button type="primary">Top</el-button>
    </router-link>
  </div>
 </div>
  
 
 