<div>
  <div class="center-title">
    ようこそ<br>
    {{ emailHead }}さん
  </div>

  <div class="top-container">
    <div class="center-txt-title">
      達成済み
    </div>
    <div class="center-txt-title">
      いままでのつぶやき <i class="el-icon-edit" />
    </div>
  </div>
  <div class="middle-container">
    <div class="left-container">
      <todo-cards :message=this.achived_myTodos />
    </div>

    <div class="right-container">
      <el-timeline :reverse="reverse">
        
        <el-timeline-item v-for="(item, index) in myTodos" :timestamp="item.created | unixTime2Date" placement="top"
          :key="item.id"> 
          <el-card style="text-align: left">
            <div style="font-weight: bolder;">{{ item.name }}</div>
            <span>期限：　{{ item.deadline | unixTime2Date }}</span>
          </el-card>
        </el-timeline-item> 
      </el-timeline>
    </div>
  </div>

  <div class="center-container">
    <router-link to="/GoalTweet" class="center-button">
      <v-btn  dark color="#409EFF">Tweet Tasksへ</v-btn>
    </router-link>
  </div>
  <div class="center-container">
    <v-btn class="center-button" dark color="#409EFF" @click="signOut">SignOut</v-btn>
  </div>
</div>
