<el-menu 
  class="el-menu-demo"

  mode="horizontal"
  router
>
  <el-menu-item index="Home" class="link-container" :route="{ path:'/' }">
    <i class="el-icon-s-home" />
      Top
  </el-menu-item>

  <el-menu-item v-if="!uid" index="Signin" class="link-container" :route="{ path:'/Signin' }">
    <i class="el-icon-check" />
      Signin
  </el-menu-item>

  <el-menu-item v-if="!uid" index="Signup" class="link-container" :route="{ path:'/Signup' }">
    <i class="el-icon-plus" />
    Signup
  </el-menu-item>

  <el-menu-item v-if="emailHead" index="GoalTweet" class="link-container" :route="{ path:'/GoalTweet' }">
    <i class="el-icon-edit" />
    Tweet Tasks
  </el-menu-item>

  <el-menu-item v-if="emailHead" index="Mypage" class="link-container" :route="{ path:'/Mypage' }">
    <i class="el-icon-user" />
    {{ emailHead }}
  </el-menu-item>

    <el-menu-item v-if="uid" index="matrix" class="link-container" :route="{ path:'/Matrix' }">
    <i class="el-icon-news" />
      Matrix
  </el-menu-item>
    <el-menu-item  style="float: right; margin-right: 30px;" v-if="uid" @click="signOut" class="link-container">
    <i class="el-icon-close" />
      Singout
  </el-menu-item>



</el-menu>
