<div>
  <div class="center" >　
    <draggable :options="options" class="card-container">
      <div v-for="todo in this.message" :key="todo.id">
        <v-card class="mx-auto"  @click="console(todo)" max-width="350" min-width="150" :color="todo.priority | priority2Color" hover>
          <v-card-text >
            <div v-if="todo.created" class="created-time">
              Created：{{ todo.created | unixTime2Date }}
            </div>
            <div v-if="todo.deadline && todo.created" class="created-time">
              Deadline：{{ todo.deadline | unixTime2Date }}
            </div>
            <div v-if="!todo.deadline && todo.created" class="created-time">
              Deadline： なし
            </div>
            <div class="text-goal">
              {{ todo.name }}
            </div>
            <div v-if="todo.deadline  && todo.created">
              <countdown :time="diffTimeDeadlineToNow(todo.deadline)">
                <template slot-scope="props">
                  <div class="remain">
                    残り: {{ props.days }}日 {{ props.hours }}時間 {{ props.minutes }}分 {{ props.seconds }}秒
                  </div>
                </template>
              </countdown>
            </div>
            <div v-if="!todo.deadline && todo.created">
              残り: unlimited 👿
            </div>
            <i v-if="uid == todo.uid || todo.uid == ''" class="el-icon-circle-close" @click="remove(todo.id)"></i>
            <div v-if="uid == todo.uid && !todo.achiveFlag" class="achivement">
              <v-btn text small color="primary" @click="achive(todo.id)">達成</v-btn>
            </div>
            <div v-if="uid == todo.uid && !todo.achiveFlag" class="update">
              <v-btn text small color="primary" @click="$emit('set', todo)">編集</v-btn>
            </div>
          </v-card-text>
        </v-card>
      </div>
    </draggable>
  </div>
</div>